@use 'global';
@use 'var';
@use 'reset';

.promo {
    min-height: 100vh;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .promo__info {
            max-width: 600px;
        }
    }
}